body {
  margin: 0;
  padding: 10px;
  align-items: center;
  background-color: white;
  color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.load{
  width: 90px;
}
